body{
    margin:0px;
}

/* header style */

.header{
    display: flex;
    flex-direction: column;
    background-color: #7DD3FC;
    border-bottom: 1px solid black;

}

.btnPlace{
    display: flex;
    justify-content: space-around;
    padding:20px
}

.formPlace{
    display: Flex;
    justify-content: space-around;
    padding: 20px;
}

.newTaskForm{
    flex-direction: column;
    gap:10px;
}


.task {
    display: flex;
    gap:50px
}

/* content style */

.content {
    display: flex;
    justify-content: space-around;
    width: auto;
    flex: auto;
}
.groups, .tasks {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* groups */

.groups{
    border-right: 4px solid black;
}

.oneGroup{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 5px;
    border-bottom: solid BLACK 1px;
}
.oneGroup:hover{
    background-color: #FDE047;
}

.newGroup{
    display: flex;
    align-items: center;

}

/* tasks */

.oneTag{
    font-weight: 900;
}

.one{
    display: flex;
}
